<nav>
    <div class="nav-wrapper blue">
        <div class="container">
            <a href="/home" class="brand-logo">DYNO</a>
            <ul class="right">
                <li><a href="/home"><i class="material-icons">home</i></a></li>
                <li><a href="/following">Following</a></li>
                <li><a href="/users/<%=currentUser.username%>"><i class="material-icons">person</i></a></li>
                <li>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input type="submit" value="Log Out" class="blue">
                        <!-- <button type="submit" class="small">Log Out</button> -->
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>