<div class="background-container">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="/images/climbing_background_1.jpg" alt="" class="responsive-img">
                <div class="caption center-align">
                    <h2 class="light grey-text text-lighten-4">Join Climbing Communities</h2>
                    <h5 class="light grey-text text-lighten-2">Connect with like minded people</h5>
                </div>
            </li>
            <li>
                <img src="/images/climbing_background_2.jpg" alt="" class="responsive-img">
                <div class="caption right-align">
                    <h2 >Improve together</h2>
                    <h5 class="light grey-text text-lighten-2">Beta help from comrades all over the world</h5>
                </div>
            </li>
            <li>
                <img src="/images/climbing_background_3.jpg" alt="" class="responsive-img">
                <div class="caption left-align">
                    <h2>Share Moments</h2>
                    <h5 class="light grey-text text-lighten-3">Snap and show climbs </h5>
                </div>
            </li>
        </ul>       
    </div>
</div>