<!DOCTYPE html>
    <html lang="en">
    <head>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <div class="row">
            <div class="col s12 l6 push-l6">
                <nav>
                    <div class="nav-wrapper blue darken-2">
                        <a href="/" class="brand-logo center">DYNO</a>
                    </div>
                </nav>
                <div class="container">
                    <h4>Join Climbing Communities</h4>
                    <div class="row">
                        <a href="/login" class="btn waves-effect waves-light blue darken-2">Log In</a>                        
                    </div>
                    <div class="row">
                        <a href="/signup" class="btn waves-effect waves-light blue darken-2">Sign Up</a>                        
                    </div>
                </div>
            </div>
            <div class="col s12 l6 pull-l6">
                <img src="/images/climbing_background.jpg" alt="" class="responsive-img">
            </div>
        </div>
    
    </body>
</html>