main {
    display: flex;
    flex-wrap: wrap-reverse;

}

h3 {
    font-weight: 500;
    margin-bottom: 3rem;
}

main > div {
    width: 100%;
}

.action-container {
    min-height: 50vh;

}

.btn {
    border-radius: 1rem;
}


.background-container img, .background-container div, .slides li{
    min-height: 100%;

}

.action-container .row a {
    width: 80%;
}

.btn-container {
    margin: 5rem auto;

}

.wrong-info {
    animation: shake 0.3s linear 2;
}

@keyframes shake {
    25% {transform: translateX(5%)}
    50% {transform: translateX(0);}
    75% {transform: translateX(-5%);}
    100% {transform: translateX(0);}
}


@media screen and (min-width: 990px) {
    main > div {
        width: 50%;
    }
}