* {
    /* border: 2px solid red; */
}


/* li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */

.search-form{
    display: inline-block;
}

#search-bar input {
    border-radius: 1rem !important;
    padding-left: 0.5rem !important;
    display: inline-block !important;
    background-color: rgba(212, 212, 212, 0.3) !important;
}


#search-bar input:focus {
    background-color: white !important;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    padding: 1rem 0;
}

#profile-dropdown-side li {
    text-align: center;
}