* {
    /* border: 2px solid red; */
}




#search-form{
    display: inline-block;
    /* border: 2px solid orange; */
}

/* #search-bar input {
    border-radius: 1rem !important;
    padding-left: 0.5rem !important;
    display: inline-block !important;
    background-color: rgba(212, 212, 212, 0.3) !important;
} */


#q:focus {
    background-color: white !important;
    color: black;
}

#q {
    border-radius: 0.8rem !important;
    padding-left: 0.5rem !important;
    display: inline-block !important;
    background-color: rgba(212, 212, 212, 0.3) !important;
    color: white;
    font-size: 1rem;
    width: 8rem;
    height: 2.5rem;
}

#cat {
    /* margin: 0 !important; */
    text-align: center;
}

#cat-container {
    margin-left: 0.5rem;
    /* margin-right: 2rem; */
    color: white;
    height: 2.5rem;

}

/* Category select */
.select-wrapper input.select-dropdown {
    display: inline;
    width: 4rem;
    color: white;
    border-radius: 0.8rem;
    padding-left: 0.5rem !important;
    font-size: 1rem;
    background-color: rgba(212, 212, 212, 0.3) !important;
    height: 2.5rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    padding: 1rem 0;
}

#profile-dropdown-side li {
    text-align: center;
}

.select-wrapper .caret {
    fill: white;
}



@media screen and (min-width: 600px) {

    #cat-container {
        /* margin-left: 0.5rem; */
        margin-right: 2rem;
    }

    #q {
        width: 12rem;
    }
}

@media screen and (min-width: 900px) {

    #q {
        width: 15rem;
    }
}