* {
    /* border: 2px solid red; */
}


/* li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */


#profile-pic {
    border: 2px solid black;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    padding: 1rem 0;
}

#profile-dropdown-side li {
    text-align: center;
}