.like-icon:hover, .unlike-icon:hover, #comment:hover, .comment-show {
    cursor: pointer;

}

textarea {
    resize: none;
    border-radius: 1rem;
    padding: 0.5rem;
}

textarea:focus {
    outline: none;
}

#cancel-button {
    margin-left: 1rem;
}

.comment-box {
    display: none;
}

.main-comments-container {
    border-top: 0.5px solid lightgrey;
    display: none;
}

.comment-container {
    margin: 1.5rem 0;
}

.comment-date {
    font-size: smaller;
}


i {
    margin-right: 1rem;
}

p {
    padding: 0.5rem 0;
}

.comment-show {
    margin-left: 1rem;
}