#like:hover, #comment:hover {
    cursor: pointer;
}

textarea {
    resize: none;
    border-radius: 1rem;
    padding: 0.5rem;
}

#cancel-button {
    margin-left: 1rem;
}

.comment-box {
    display: none;
}