<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../../partials/head.ejs") %>
        <link rel="stylesheet" href="/css/new_post.css">
        <!-- Emoji picker -->
        <script src="https://cdn.tiny.cloud/1/xmwb6q2bv6myyuki756snb4ix03g3popvvykzh2jmiqbactr/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script src="/js/new_post.js"></script>
    </head>
    <body>
        <header>
            <%- include("../../partials/nav.ejs") %>
        </header>
        <main>
            <!-- <%- include("../../partials/main.ejs") %> -->
            <div class="container section form-container">
                <form action="/posts" method="POST" enctype="multipart/form-data" >
                    <!-- <div class="row">
                        <div class="input-field col s12">
                            <input type="url" id="img" name="img">
                            <label for="img">Image URL</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="url" id="video" name="video">
                            <label for="video">Video URL</label>
                        </div>
                    </div> -->
                    <div class="row">
                        <label for="media" class="col s3 m2">Photo/Video*</label>

                        <input type="file" id="media" name="media" class="col s8 m9" required>
 
                    </div>
                    <div class="row">
                        <label for="description" class="col s3 m2">Description</label>
                        <textarea name="description" id="description" class="col s8 m9"></textarea>
                        <!-- <input type="text" id="description" class="col s8 m9" name="description"> -->
                            
                    </div>
                    <div class="row">
                        <label for="location" class="col s3 m2">Location</label>
                        <input type="text" id="location" name="location" class="col s8 m10">
                    </div>
                    <div class="row">
                        <label for="tags" class="col s3 m2">Tags</label>
   
                            <div class="chips col s8 m10">
                                <input class="custom-class">
                            </div>
                            <input type="hidden" id="tags" name="tags" value="[]">
                     
                    </div>

                    <div class="row">
                        <div class="input-field col s12 center-align">
                            <button class="btn blue" type="submit">POST</button>
                        </div>
                    </div>

                    
                </form>
            </div>
        </main>
        <footer>
            <%- include("../../partials/footer.ejs") %>
        </footer>
        
    </body>
</html>